@charset "utf-8";
/* CSS Document */
:root{
    --white:rgba(255, 219, 151, 0.9);
    --black:rgba(0,0,0,0.90);
    --whitesolid:rgba(255,255,255,1.00);
    --blacksolid:rgba(0,0,0,1.00);
    --red:rgb(216, 79, 55,1.00);
}
* {
    box-sizing: border-box;
}
.hide {
    display:none;
}
.row:after {
    content: "";

    clear: both;
    margin:auto;
    display: block;
}
/* For mobile phones: */
[class*="col-"] {
    float: left;
    padding: 15px;
	width: 100%;
}
/* For tablets: */
@media only screen and (min-width: 720px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
/* For desktop: */
@media only screen and (min-width: 1200px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
body{
    padding:0px;
    margin:0px;
    font-family:"Georgia",serif;
    font-size:1.2em;
    background-image: url(/images/tile.png);
}

img{
    width:100%;
    height:auto;
}
a{
    text-decoration:none;
   
}
h1{
    text-align:center;
    color:var(--red);
}
h2{
    text-align:center;
    color:var(--red);
}
h3{
    float:left;
    color:var(--red);
    margin:0px 5px
}
p{
    text-align:left;
    color:var(--blacksolid);
    text-shadow: 0px 0px 5px var(--blacksolid);
}
.wrapper{
    max-width:1200px;
    height:500px;
    margin:auto;
}
.blackrow-01, .blackrow-02{
    background-color:var(--blacksolid)
}
.blackrow-01{
    padding:20px;
    height:130px;
}
.blackrow-02{
    padding:20px;
    height:130px;
}
.header, .footer{
    background-color: var(--red);
    height:100px;
}
.whiterow{
    padding: 20px;
    height:450px;
}
.button{
    width:300px;
    height:70px;
    border-style: solid;
    border-color: var(--red);
    margin:10px;
    border-radius: 2px;
    padding:5px;
}
input{
    margin:0px 60px; 
}
.game{
    min-width: 900px;
}