@charset "utf-8";

/* CSS Document */
:root {
    --white: rgba(255, 219, 219, 0.9);
    --gray: rgba(35, 31, 32, 1.00);
    --darkred: rgb(63, 0, 0, 1.00);
    --orange: rgb(242, 132, 91, 1.00);
}

.dosis {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.bebas {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400px;
    font-size: 4.0em;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.hide {
    display: none;
}

.row:after {
    content: "";

    clear: both;
    margin: auto;
    display: block;
}

/* For mobile phones: */
[class*="col-"] {
    float: left;
    padding: 15px;
<<<<<<< HEAD
    width: 100%;
=======
	width: 100%;
}
/* For tablets: */
@media only screen and (min-width: 720px) {
    .col-m-0 {width: 0%;}
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
/* For desktop: */
@media only screen and (min-width: 1200px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
body{
    padding:0px;
    margin:0px;
    font-family:"Georgia",serif;
    font-size:1.2em;
    background-image: url(/images/tile.png);
>>>>>>> 6ad4b34fd95184bfdb685a7c1a39bd9671bec9b2
}

/* For tablets: */
@media only screen and (min-width: 720px) {
    .col-m-0 {
        width: 0%;
    }

    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
}

/* For desktop: */
@media only screen and (min-width: 1200px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Georgia", serif;
    font-size: 1.2em;
    background-color: var(--darkred);
}

img {
    max-width: 500px;
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    padding: 10px;
}

a {
    text-decoration: none;

}

h1 {
    text-align: center;
    color: var(--orange);
    padding: 60px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 1600;
    font-style: normal;
}

.footer h1 {
    color: var(--gray)
}

h2 {
    text-align: center;
    color: var(--orange);
}

h3 {
    float: left;
    color: var(--orange);
    margin: 0px 5px
}

p {
    text-align: left;
    color: var(--orange);
    text-shadow: 0px 0px 5px var(--gray);
}

.wrapper {
    max-width: 1200px;
    height: 500px;
    margin: auto;
}
<<<<<<< HEAD

.header img {
    width: auto;
    height: 100%;
}

.main,
.aside,
.article {
    background-color: var(--darkred);
}

.blackrow-01,
.blackrow-02 {
    background-color: var(--gray);
=======
.whiterow{
    padding: 20px; 
}
.button{
    width:100%;
    height:70px;
    
>>>>>>> 6ad4b34fd95184bfdb685a7c1a39bd9671bec9b2
    border-style: solid;
    border-width: 1px;
    border-color: var(--orange);
    border-radius: 10px;
}
<<<<<<< HEAD

.blackrow-01 {
    padding: 20px;
    height: 130px;
}

.blackrow-02 {
    padding: 20px;
    height: 130px;
}

#player,
#enemy,
#name-show {
    display: none;
}

.header,
.footer {
    background-color: var(--orange);
}

.header {
    height: 200px;
}

.footer {
    height: 300px;
}

.whiterow {
    padding: 20px;
}

.button {
    width: 100%;
    height: 70px;
    cursor: pointer;
    border-style: solid;
    border-color: var(--orange);
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--gray);
}

input {
    width: 100%;
    height: 40px;
    margin: 0px 0px;
    background-color: var(--white);
    border-style: solid;
    border-width: 1px;
    border-color: var(--orange);
    border-radius: 10px;
}

@media only screen and (min-width: 414px) {
    input {
        margin: 10px 0px;
    }
}

.jumbotron {
    position: relative;
    width: 100%;
    height: auto;
}

.jumbotron .jumbo-img img {
    max-width: 3328px;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: auto;
    border-style: solid;
    border-color: var(--orange);
    border-radius: 10px;
}

.jumbotron .jumbo-text h1 {
    position: absolute;
    top: 0%;
    left: 0px;
    font-size: 2.5em;
}

.jumbotron .jumbo-text .h3text {
    position: absolute;
    top: 30%;
    left: 100px;
    width: 40%;
    font-size: 2.0em;
    text-align: left;
}

.jumbotron .jumbo-text p {
    position: absolute;
    top: 55%;
    left: 100px;
    width: 40%;
    font-size: 1.0em;
}

.jumbotron .jumbo-text a .button {
    position: absolute;
    top: 75%;
    left: 100px;
    width: 25%;
    height: 10%;
    font-size: 2.0em;
    text-align: center;

}
.button h3{
    width:100%;
    height:100%;
    display:block;
}

.jumbotron .jumbo-text a .button:hover {
    background-color: var(--orange);
}
.jumbotron .jumbo-text a .button h3:hover
{
    color: var(--gray);
}
.jumbotron .jumbo-text h3 {
    margin: auto;
    text-align: center;
}

@media all and (min-width: 50px) {
    body {
        font-size: 0.1em;
    }
}

@media all and (min-width: 100px) {
    body {
        font-size: 0.2em;
    }
}

@media all and (min-width: 200px) {
    body {
        font-size: 0.4em;
    }
}

@media all and (min-width: 300px) {
    body {
        font-size: 0.6em;
    }
}

@media all and (min-width: 400px) {
    body {
        font-size: 0.3em;
    }

    .jumbotron .jumbo-text .h3text {
        top: 35%
    }
}

@media all and (min-width: 500px) {
    body {
        font-size: 0.3em;
    }
}

@media all and (min-width: 600px) {
    body {
        font-size: 0.4em;
    }
}
}

@media all and (min-width: 650px) {
    body {
        font-size: 0.4em;
    }

}

@media all and (min-width: 700px) {
    body {
        font-size: 0.5em;
    }
}

@media all and (min-width: 1000px) {
    body {
        font-size: 0.7em;
    }
}

@media all and (min-width: 1200px) {
    body {
        font-size: 0.8em;
    }
}

@media all and (min-width: 1400px) {
    body {
        font-size: 1.0em;
    }
}

@media all and (min-width: 1500px) {
    body {
        font-size: 1.1em;
    }
=======
input{
    width:100%;
    margin:0px 0px; 
}
.game{
    
}
@media only screen and (min-width: 414px) {
    input{
        margin: 10px 0px;
    }
>>>>>>> 6ad4b34fd95184bfdb685a7c1a39bd9671bec9b2
}